config SKW_USB
	tristate "SeekWave USB Support"
	depends on USB ||COMPILE_TEST ||SEEKWAVE_BSP_DRIVERS_V20
	default n
	help
	  Enable this module for WCN_USB
	  chip usb interface bus Support.
	  Please insmod this module before any other
	  WCN subsystems. Thanks.

