config SKW_BT
        tristate "Seekwave BT driver"
        depends on SEEKWAVE_BSP_DRIVERS && MMC
        help
          The driver for seekwave Bluetooth chipsets with SDIO/USB interface.

          Say Y here to compile support for Seekwave BT-over-SDIO/USB driver
          into the kernel or say M to compile it as module.